.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920___1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920___1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920___1 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920___1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Image_1 {
	position: absolute;
	width: 562px;
	height: 703px;
	left: 185px;
	top: 189px;
	overflow: visible;
}
#ID1552077491_jpg {
	position: absolute;
	left: 1438px;
	top: 453px;
	overflow: visible;
	width: 254px;
	height: 83px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#ID2019_03_08T20_38_11_000Z {
	position: absolute;
	left: 1069px;
	top: 339px;
	overflow: visible;
	width: 623px;
	height: 89px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
.Rectangle_1 {
	filter: drop-shadow(0px 4px 14px rgba(0, 118, 255, 0.161));
	position: absolute;
	overflow: visible;
	width: 256px;
	height: 119px;
	left: 1477px;
	top: 572px;
}
#Back {
	position: absolute;
	left: 1544px;
	top: 591px;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}